{% extends "base.html" %} {% block content %}

<div id="client-detail">
    <h1 data-bind="text: name" class="display-4"></h1>

    <table id="feature-requests" class="table table-hover">
        <thead>
            <tr>
                <td><b>Feature Title</b></td>
                <td><b>Priority</b></td>
                <td><b>Target Date</b></td>
                <td><b>Suspended</b></td
                <td><b>Options</b></td>
                </td>
        </thead>
        <tbody>
            <!-- ko foreach: requests -->
            <tr>
                <td data-bind="text: featureTitle"></td>
                <td data-bind="text: clientPriority"></td>
                <td data-bind="text: targetDate"></td>
                <td data-bind="text: suspended">
                <td>
                    <span data-bind="visible: suspended">
                        <button data-bind="click: $parent.reorder" class="btn btn-primary">Reorder</button>
                    </span>
                    <button data-bind="click: $parent.beginEdit" class="btn btn-primary">Edit</button>
                    <button data-bind="click: $parent.remove" class="btn btn-primary">Delete</button>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>

    </table>

</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/client_details.js') }}"></script>

{% endblock %}
