{% extends "base.html" %} {% block content %}

<div id="feature-detail">
    <h1 data-bind="text: title" class="display-4"></h1>
    <p data-bind="text: description"></p>

    <div id="newRequestButton">
        <button data-bind="click: beginAdd" data-toggle="modal" class="btn btn-primary">New Request</button>
    </div>
    <br>

    <table id="feature-requests" class="table table-hover">
        <thead>
            <tr>
                <td><b>Client Name</b></td>
                <td><b>Priority</b></td>
                <td><b>Target Date</b></td>
                <td><b>Options</b></td>
                </td>
        </thead>
        <tbody>
            <!-- ko foreach: requests -->
            <tr>
                <td data-bind="text: clientName"></td>
                <td data-bind="text: priority"></td>
                <td data-bind="text: targetDate"></td>
                <td>
                    <button data-bind="click: $parent.beginEdit" class="btn btn-primary">Edit</button>
                    <button data-bind="click: $parent.remove" class="btn btn-primary">Delete</button>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>

    </table>

</div>

<div id="addRequest" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addDialogLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="addDialogLabel" class="modal-title">New Feature Request</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="inputClient">Client</label>
                    <select data-bind="value: clientID" type="text" id="inputClient" class="form-control">
                          <option value="default">Choose Client</option>
                          <!-- ko foreach: clients -->
                          <option data-bind="text: name, value: id"></option>
                          <!-- /ko -->
                        </select>

                    <label for="inputPriority">Priority</label>
                    <select data-bind="value: priority" type="text" id="inputPriority" class="form-control">
                          <option value="default">Set Priority</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>

                    <label for="inputTargetDate">Target Date</label>
                    <input data-bind="{value: targetDate, attr: { min: minimumDate } }"  type="date" id="inputTargetDate" placeholder="dd/mm/yyyy" class="form-control">

                </form>
            </div>
            <div class="modal-footer">
                <button data-bind="click: addRequest" class="btn btn-primary">Add Request</button>
                <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="editRequest" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addDialogLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="addDialogLabel" class="modal-title">Edit Feature Request</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="editPriority">Priority</label>
                    <select data-bind="value: priority" type="text" id="editPriority" class="form-control">
                          <option>Select New Priority</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>

                    <label for="editTargetDate">New Target Date</label>
                    <input data-bind="{value: targetDate, attr: { min: minimumDate } }" type="date" id="editTargetDate" placeholder="dd/mm/yyyy" class="form-control">

                </form>
            </div>
            <div class="modal-footer">
                <button data-bind="click: editRequest" class="btn btn-primary">Update Request</button>
                <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='js/feature_details.js') }}"></script>

{% endblock %}
